<<ion-view view-title="Home">
	<ion-content>

    <div class="card">
      <div class="item item-divider">Welcome to SCI</div>
      <div class="item item-text-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor rhoncus dui quis consectetur. Aenean facilisis dui leo, vel ullamcorper est maximus ut. In id pellentesque nulla.</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">SCI Events</div>
      <a class="item button button-positive button-block" href="#">See all events</a>
    </div>

    <div class="card">
      <div class="item item-icon-left" ng-click="openComments()">
        <i class="icon ion-chatbubble"></i> Send us a comment
      </div>
    </div>

  </ion-content>
</ion-view>
